---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<Layout title="Vaidya Signal">
  <Header active="email" />
  <main class="mx-auto max-w-3xl my-auto text-center">
    <h1 class="italic px-8">
      Hopefully
      <a href="https://www.linkedin.com/in/leo6/" target="_blank" class="font-bold text-skin-accent text-xl">
        someone
      </a>
       is working on this page...
    </h1>
  </main>
  <Footer />
</Layout>
