---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.tsx";
import Footer from "../components/Footer";
import SearchBar from "../components/SearchBar.tsx";
---

<Layout title="Vaidya Signal">
  <Header active="search" />
  <main class="mx-auto max-w-3xl w-full my-auto flex flex-col gap-8">
    <h1 class="italic px-8 text-center text-lg">This is a search bar.</h1>
    <div class="px-20 w-full"><SearchBar client:load /></div>
  </main>
  <Footer />
</Layout>
