---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.tsx";
import Footer from "../components/Footer";
import SearchBar from "../components/SearchBar.tsx";
---

<Layout title="Vaidya Signal">
  <Header active="search" />
  <main class="mx-auto max-w-3xl my-auto flex flex-col gap-8">
    <h1 class="italic px-8 text-center">
      Hopefully
      <a href="https://www.linkedin.com/in/leo6/" target="_blank" class="font-bold text-skin-accent text-xl">
        someone
      </a>
       is working on this page...
    </h1>
    <div class="px-4"><SearchBar client:load /></div>
  </main>
  <Footer />
</Layout>../components/SearchBar.tsx
