---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.tsx";
import Footer from "../components/Footer";
import WatchlistTable from "../components/WatchlistTable";
import AddTickers from "../components/AddTickers.tsx";
---

<Layout title="Vaidya Signal">
  <Header active="watchlist" />
  <main class="mx-auto max-w-3xl w-full py-12 flex flex-col gap-12 justify-between h-max">
    <WatchlistTable client:load />
    <div class="mx-auto max-w-xl w-full"><AddTickers client:load /></div>
  </main>
  <Footer />
</Layout>
