---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header";
import Footer from "../../components/Footer";
import { getSignalTriggers } from "../../utils/vaidya-service";
import { daysAgo } from "../../utils/pure";

const { ticker } = Astro.params;

const triggers = await getSignalTriggers(ticker || "");
---

<Layout title="Vaidya Signal">
  <Header />
  <main class="mx-auto max-w-3xl w-full flex flex-col py-12 gap-8">
    <h1 class="px-8 text-5xl font-bold">{ticker}</h1>
    <div class="px-8">
      <h2 class="text-xl font-bold pb-4">Signal Triggers</h2>
      <ul class="list-disc list-inside space-y-2 pl-4">
        {
          triggers && triggers.length > 0 ? (
            triggers
              .sort((a, b) => new Date(b.trigger_date).getTime() - new Date(a.trigger_date).getTime())
              .map((trigger) => (
                <li>
                  <span class="pl-2">{`${new Date(trigger.low_1_date).toISOString().split("T")[0]} `}</span>
                  <span class="font-bold pl-2">{`(${daysAgo(new Date(trigger.trigger_date))})`}</span>
                  <span class="text-xs">
                    <span class="italic pl-2"> low 1: </span>
                    <span class="font-bold">{new Date(trigger.low_1_date).toISOString().split("T")[0]}</span>
                    <span class="italic pl-2"> low 2: </span>
                    <span class="font-bold">{new Date(trigger.low_2_date).toISOString().split("T")[0]}</span>
                  </span>
                </li>
              ))
          ) : (
            <li>
              <span class="pl-2">no triggers found</span>
            </li>
          )
        }
      </ul>
    </div>
    <Footer />
  </main>
</Layout>
